.checkoutProduct{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom:20px;
}

.checkoutProduct__info{
    display:flex;
    flex-direction:column;
    padding-left: 20px;
}
.checkoutProduct__info>button{
    background-color: orange;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(117, 81, 13);
    color: black;
}
.checkoutProduct__rating{
    display:flex;
}